.leftBox {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    position: relative;

}

.rightBox {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    position: relative;
    bottom: 400px;
    left: 67%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 600px;
    gap: 10px;
}