body {
    margin: 0;
    padding: 0;
    background: #07b5aa;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.smallBox {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    width: 320px;
    position: relative;
}

.box {

    height: 140px;
    width: 140px;
    background: #ffffff;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    right: 70px;
}

.boxText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#reset {

    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #07d7bb;
    color: white;
    top: 10px;
    margin-top: 40px;
}

.Reset:hover {
    background: #07ac96;
}