.outerBox {
	background: black;
	width: 500px;
	height: 500px;
	justify-content: center;
	align-items: center;
}

.box {
	background: red;
	width: 100px;
	height: 100px;
	position: relative;

}

.btn {

	position: relative;


}